* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

body,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

input,
button {
  border: none;
  outline: none;
}

button {
  background: none;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

body {
  color: var(--color-white);
  font-size: 1.4rem;
}

:root {
  --color-white: #d9d9d9;
  --color-black: #010101;
  --color-dark: #1c1c1e;
  --color-grey: #39383d;
  --color-yellow: #feea41;
  --color-green: #00dfc5;
  --border: 1px solid #333333;
  --filter-green: invert(79%) sepia(14%) saturate(5739%) hue-rotate(117deg)
    brightness(91%) contrast(101%);
  --filter-white: invert(89%) sepia(0%) saturate(45%) hue-rotate(182deg)
    brightness(97%) contrast(98%);
  --filter-red: invert(26%) sepia(97%) saturate(6926%) hue-rotate(357deg)
    brightness(102%) contrast(114%);
  --filter-blue: invert(60%) sepia(25%) saturate(7135%) hue-rotate(152deg)
    brightness(102%) contrast(101%);
  --filter-yellow: invert(84%) sepia(34%) saturate(833%) hue-rotate(358deg)
    brightness(107%) contrast(99%);
}

.app {
  width: 800px;
  height: 480px;
  background-color: var(--color-black);
  display: flex;
  position: relative;
  overflow: hidden;
}
.app-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__content {
  margin-left: 65px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.app__menu {
  width: 65px;
  height: 100%;
  background-color: var(--color-dark);
  border-right: var(--border);
  box-shadow: 5px 0 5px black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  left: 0;
  top: 0;
}
.app__menu-item {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__menu-item-icon {
  width: 30px;
  height: 30px;
  filter: var(--filter-white);
  background-size: cover;
  background-position: center;
}

.key {
  background-image: url(../assets/key.svg);
  background-repeat: no-repeat;
  filter: var(--filter-green);
}

.clock {
  background-image: url(../assets/clock.svg);
  background-repeat: no-repeat;
}

.reader {
  background-image: url(../assets/reader.svg);
  background-repeat: no-repeat;
}

.race {
  background-image: url(../assets/race.svg);
  background-repeat: no-repeat;
  height: 20px;
  width: 42px;
}

.settings {
  background-image: url(../assets/settings.svg);
  background-repeat: no-repeat;
}

.poweroff {
  background-image: url(../assets/poweroff.svg);
  background-repeat: no-repeat;
  filter: var(--filter-red);
  height: 31px;
}

.top-area {
  width: 100%;
  height: 45px;
  background-color: var(--color-dark);
  display: flex;
  justify-content: space-between;
}
.top-area__logo-wrapper {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: var(--border);
}
.top-area__main-logo {
  width: 150px;
}
.top-area__race-name {
  color: var(--color-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-area__reader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
}
.top-area__reader-container .reader {
  filter: var(--filter-blue);
  width: 15px;
  height: 18px;
  background-size: cover;
  background-position: center;
}

.main-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 18px;
  margin: 18px;
}
.main-area__column {
  flex: 1;
}
.main-area__column:last-child {
  margin: 0;
}
.main-area__block {
  background-color: var(--color-dark);
  border-radius: 10px;
}
.main-area__block-header {
  min-height: 37px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 12px;
  border-bottom: var(--border);
}
.main-area__block-header .reader {
  filter: var(--filter-green);
  width: 15px;
  height: 18px;
  background-size: cover;
  background-position: center;
}
.main-area__block-body {
  overflow-y: scroll;
  max-height: 267px;
}
.main-area__block-body::-webkit-scrollbar {
  width: 5px;
}
.main-area__block-body::-webkit-scrollbar-thumb {
  background: #666;
}
.main-area__block-body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.main-area__block-body-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-grey);
  border-bottom: var(--border);
  padding: 12px;
}
.main-area__block-body-item p:first-child {
  font-weight: bold;
}
.main-area__block-footer {
  padding: 10px 12px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  border-radius: 3px;
  padding: 3px;
  background-color: var(--color-white);
  color: var(--color-black);
}

.start-btn {
  background-color: #0bcb9a;
  width: 95px;
  height: 35px;
  border-radius: 5px;
  box-shadow: 0 2px 0 #006837;
  border-width: 0;
  font-weight: bold;
  font-size: 1.8rem;
  color: var(--color-white);
}

.blue {
  color: #00bfe6;
  font-weight: bold;
}

.dashboard {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 18px;
}

.dashboard .main-area__block-body {
  overflow: inherit;
  height: calc(168px - 37px);
}

.antenna-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  counter-reset: antenna;
}

.antenna {
  background-image: url("./../assets/antenna.svg");
  width: 36px;
  height: 45px;
  background-repeat: no-repeat;
  background-size: 36px;
  position: relative;
  font-size: 1rem;
  color: black;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.antenna.antenna-active {
  filter: var(--filter-green);
}

.antenna.antenna-off {
  filter: var(--filter-yellow);
}

.antenna.antenna-fail {
  filter: var(--filter-red);
}

.antenna.antenna-off span::before,
.antenna.antenna-fail span::before {
  content: url(" ./../assets/cross.svg ");
  height: 7px;
  width: 7px;
  margin-right: 2px;
  display: inline-block;
}

.antenna-number {
  margin-top: 10px;
  font-size: 1rem;
  text-align: center;
}
.antenna-number::after {
  counter-increment: antenna;
  content: counter(antenna);
  font-size: 3rem;
  display: block;
  width: 50%;
  margin: 0 auto;
}

.antenna.antenna-active + .antenna-number::after {
  border-bottom: 2px solid var(--color-green);
}

.bottom-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  background-color: var(--color-dark);
}

/*# sourceMappingURL=index.css.map */
