@charset "UTF-8";
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

body,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

input,
button {
  border: none;
  outline: none;
}

button {
  background: none;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

body {
  color: var(--color-white);
  font-size: 1.4rem;
}

:root {
  --color-white: #d9d9d9;
  --color-black: #010101;
  --color-dark: #1c1c1e;
  --color-grey: #39383d;
  --color-yellow: #feea41;
  --color-green: #00dfc5;
  --color-red: #ff0302;
  --color-blue: #00bfe6;
  --border: 1px solid #333333;
  --filter-green: invert(79%) sepia(14%) saturate(5739%) hue-rotate(117deg)
    brightness(91%) contrast(101%);
  --filter-white: invert(89%) sepia(0%) saturate(45%) hue-rotate(182deg)
    brightness(97%) contrast(98%);
  --filter-red: invert(26%) sepia(97%) saturate(6926%) hue-rotate(357deg)
    brightness(102%) contrast(114%);
  --filter-blue: invert(60%) sepia(25%) saturate(7135%) hue-rotate(152deg)
    brightness(102%) contrast(101%);
  --filter-yellow: invert(84%) sepia(34%) saturate(833%) hue-rotate(358deg)
    brightness(107%) contrast(99%);
  --filter-orange: invert(87%) sepia(22%) saturate(2686%) hue-rotate(327deg)
    brightness(99%) contrast(100%);
}

.app {
  width: 800px;
  height: 480px;
  background-color: var(--color-black);
  display: flex;
  position: relative;
  overflow: hidden;
}
.app-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__content {
  width: calc(100% - 65px);
  display: flex;
  flex-direction: column;
}

.app__menu {
  width: 65px;
  height: 100%;
  background-color: var(--color-dark);
  border-right: var(--border);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.app__menu-item {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__menu-item-icon {
  width: 30px;
  height: 30px;
  filter: var(--filter-white);
  background-size: cover;
  background-position: center;
}

.key {
  background-image: url(../assets/key.svg);
  background-repeat: no-repeat;
  filter: var(--filter-green);
}

.clock {
  background-image: url(../assets/clock.svg);
  background-repeat: no-repeat;
}

.reader {
  background-image: url(../assets/reader.svg);
  background-repeat: no-repeat;
}

.race {
  background-image: url(../assets/race.svg);
  background-repeat: no-repeat;
  height: 20px;
  width: 42px;
}

.settings {
  background-image: url(../assets/settings.svg);
  background-repeat: no-repeat;
}

.poweroff {
  background-image: url(../assets/poweroff.svg);
  background-repeat: no-repeat;
  filter: var(--filter-red);
  height: 31px;
}

.top-area {
  width: 100%;
  height: 45px;
  background-color: var(--color-dark);
  display: flex;
  justify-content: space-between;
}
.top-area__logo-wrapper {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: var(--border);
}
.top-area__main-logo {
  width: 150px;
}
.top-area__race-name {
  color: var(--color-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-area__reader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
}
.top-area__reader-container .reader {
  filter: var(--filter-blue);
  width: 15px;
  height: 18px;
  background-size: cover;
  background-position: center;
}

.main-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 18px;
  margin: 18px;
}
.main-area__column {
  flex: 1;
}
.main-area__column:last-child {
  margin: 0;
}
.main-area__block {
  background-color: var(--color-dark);
  border-radius: 10px;
}
.main-area__block-header {
  min-height: 37px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 12px;
  border-bottom: var(--border);
}
.main-area__block-header .reader {
  filter: var(--filter-green);
  width: 15px;
  height: 18px;
  background-size: cover;
  background-position: center;
}
.main-area__block-body {
  overflow-y: scroll;
  max-height: 267px;
}
.main-area__block-body::-webkit-scrollbar {
  width: 5px;
}
.main-area__block-body::-webkit-scrollbar-thumb {
  background: #666;
}
.main-area__block-body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.main-area__block-body-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-grey);
  border-bottom: var(--border);
  padding: 12px;
}
.main-area__block-body-item p:first-child {
  font-weight: bold;
}
.main-area__block-footer {
  padding: 10px 12px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  border-radius: 3px;
  padding: 3px;
  background-color: var(--color-white);
  color: var(--color-black);
}

.start-btn {
  background-color: #0bcb9a;
  width: 95px;
  height: 35px;
  border-radius: 5px;
  box-shadow: 0 2px 0 #006837;
  border-width: 0;
  font-weight: bold;
  font-size: 1.8rem;
  color: var(--color-white);
}

.blue {
  color: #00bfe6;
  font-weight: bold;
}

.dashboard {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 18px;
}

.dashboard .main-area__block-body {
  overflow: inherit;
  height: calc(168px - 37px);
}

.antenna {
  background-image: url("./../assets/antenna.svg");
  width: 36px;
  height: 45px;
  background-repeat: no-repeat;
  background-size: 36px;
  position: relative;
  font-size: 1rem;
  color: black;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.antenna-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  counter-reset: antenna;
}
.antenna.antenna-active {
  filter: var(--filter-green);
}
.antenna.antenna-off {
  filter: var(--filter-yellow);
}
.antenna.antenna-fail {
  filter: var(--filter-red);
}
.antenna.antenna-active span::after {
  content: "ACTIVE";
}
.antenna.antenna-off span::after {
  content: "OFF";
}
.antenna.antenna-fail span::after {
  content: "FAIL";
}
.antenna-number {
  margin-top: 10px;
  font-size: 1rem;
  text-align: center;
}
.antenna-number::after {
  counter-increment: antenna;
  content: counter(antenna);
  font-size: 3rem;
  display: block;
  width: 50%;
  margin: 0 auto;
  border-bottom: 2px solid var(--color-dark);
}

.antenna.antenna-off span::before,
.antenna.antenna-fail span::before {
  content: url(" ./../assets/cross.svg ");
  height: 7px;
  width: 7px;
  margin-right: 2px;
  display: inline-block;
}

.antenna.antenna-active + .antenna-number::after {
  border-bottom: 2px solid var(--color-green);
}

.gps {
  background-image: url("./../assets/gps.svg");
  width: 47px;
  height: 47px;
  background-size: 47px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
  color: black;
}
.gps-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.gps.gps-active {
  filter: var(--filter-green);
}
.gps.gps-off {
  filter: var(--filter-yellow);
}
.gps-count-satellites::before {
  content: url("./../../assets/satellite.svg");
  width: 13px;
  height: 13px;
  filter: var(--filter-white);
  display: inline-block;
  margin-right: 3px;
}

.gps-active + .gps-count-satellites + .gps-status::after {
  content: "ACTIVE";
  font-size: 1rem;
  color: var(--color-green);
}

.gps-off + .gps-count-satellites + .gps-status::after {
  content: "OFF";
  font-size: 1rem;
  color: var(--color-yellow);
}

.gps-off + .gps-count-satellites + .gps-status::before {
  content: url("./../../assets/cross.svg");
  filter: var(--filter-yellow);
  height: 7px;
  width: 7px;
  margin-right: 2px;
  display: inline-block;
}

.temp-humid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
}

.temp-humid-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  border-right: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
}
.temp-humid-cell__value {
  font-size: 2.8rem;
  line-height: 2.8rem;
}
.temp-humid-cell:nth-child(even) {
  border-right: none;
}
.temp-humid-cell:nth-last-child(-n+2) {
  border-bottom: none;
}
.temp-humid-cell__value::after {
  content: "°";
}
.temp-humid-cell:last-child .temp-humid-cell__value::after {
  content: "%";
}
.temp-humid-cell__badge {
  display: flex;
  align-items: center;
}
.temp-humid-cell__badge::after {
  content: "TEMPERATURE";
  font-size: 0.9rem;
  background-color: var(--color-green);
  padding: 2px;
  border-radius: 3px;
  color: var(--color-black);
}
.temp-humid-cell__badge::before {
  content: url("./../../assets/temperature.svg");
  width: 7px;
  height: 14px;
  display: inline-block;
  margin-right: 3px;
  filter: var(--filter-green);
}
.temp-humid-cell:last-child .temp-humid-cell__badge::after {
  content: "HUMIDITY";
}
.temp-humid-cell:last-child .temp-humid-cell__badge::before {
  width: 11px;
  content: url("./../../assets/humidity.svg");
}
.temp-humid-cell__badge.warning::after {
  background-color: #fbb03b;
}
.temp-humid-cell__badge.warning::before {
  filter: var(--filter-orange);
}
.temp-humid-cell__badge.alert::after {
  background-color: var(--color-red);
}
.temp-humid-cell__badge.alert::before {
  filter: var(--filter-red);
}
.temp-humid-cell__description {
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.battery-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.battery-row {
  height: 100%;
  border-bottom: 1px solid var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.battery-row:last-child {
  border: none;
  justify-content: flex-start;
}
.battery-row:last-child .battery-header {
  margin-top: 5px;
}
.battery-row:last-child .battery-header::before {
  content: url("./../../assets/ext-battery.svg");
  width: 18px;
  height: 12px;
  filter: var(--filter-yellow);
  margin-top: -1px;
}
.battery-row:last-child .battery-header__badge {
  background-color: var(--color-yellow);
}
.battery-header {
  font-size: 1rem;
  line-height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.battery-header::before {
  content: url("./../../assets/battery.svg");
  height: 9px;
  width: 17px;
  display: inline-block;
  margin-right: 3px;
  filter: var(--filter-green);
}
.battery-header__badge {
  background-color: var(--color-blue);
  border-radius: 3px;
  padding: 2px;
  font-size: 0.8rem;
  line-height: 0.7rem;
  color: var(--color-black);
}
.battery-value {
  font-size: 2.8rem;
  line-height: 2.8rem;
}
.battery-progress {
  width: 90%;
  height: 10px;
  border-radius: 5px;
  background-color: #ccffff;
  overflow: hidden;
}
.battery-progress__value {
  background-color: var(--color-green);
  width: 83%;
  height: 100%;
}

.bottom-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  background-color: var(--color-dark);
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.status-block {
  border-right: 1px solid var(--color-grey);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.status-block:last-child {
  border: none;
}

.usb {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: black;
  filter: var(--filter-green);
}
.usb::before {
  content: url(./../assets/usb.svg);
  width: 34px;
  height: 13px;
  display: block;
}
.usb p::after {
  content: "CONNECTED";
}
.usb.usb-off {
  filter: var(--filter-yellow);
}
.usb.usb-off p::after {
  content: "DISCONNECTED";
}
.usb.usb-off p::before {
  content: url(./../assets/cross.svg);
  width: 7px;
  height: 7px;
  display: inline-block;
  margin-right: 3px;
}

.mobile {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile::before {
  content: url(./../assets/mobile.svg);
  width: 26px;
  height: 16px;
  display: block;
  filter: var(--filter-white);
  margin-right: 5px;
}
.mobile span {
  font-weight: bold;
  margin-left: 5px;
}

.lan {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  filter: var(--filter-green);
  color: black;
}
.lan::before {
  content: url(./../assets/lan.svg);
  width: 22px;
  height: 20px;
  display: block;
}

.wifi {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: black;
  filter: var(--filter-green);
  font-size: 1rem;
}
.wifi::before {
  content: url(./../assets/wifi.svg);
  width: 28px;
  height: 20px;
  display: block;
  margin-bottom: 5px;
}
.wifi + p {
  max-width: 75px;
  overflow-x: scroll;
}
.wifi + p::-webkit-scrollbar {
  height: 3px;
}
.wifi + p::-webkit-scrollbar-thumb {
  background: #666;
}
.wifi + p::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.wifi + p::-webkit-scrollbar:vertical {
  display: none;
}

.network {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: var(--filter-green);
  color: black;
}
.network::before {
  content: url(./../assets/network.svg);
  width: 25px;
  height: 30px;
  display: block;
  margin-right: 5px;
}

/*# sourceMappingURL=index.css.map */
