.app {
  &-wrapper {
    width: 100vw;
    height: 100vh;
    @include flex-center-center;
  }
  width: 800px;
  height: 480px;
  background-color: var(--color-black);
  display: flex;
  position: relative;
  overflow: hidden;
}

.app__content {
  width: calc(100% - 65px);
  display: flex;
  flex-direction: column;
}
