.main-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 18px;
  margin: 18px;

  &__column {
    flex: 1;
  }
  &__column:last-child {
    margin: 0;
  }
  &__block {
    background-color: var(--color-dark);
    border-radius: 10px;
    &-header {
      min-height: 37px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 12px;
      border-bottom: var(--border);
    }
    &-header .reader {
      filter: var(--filter-green);
      width: 15px;
      height: 18px;
      background-size: cover;
      background-position: center;
    }
    &-body {
      overflow-y: scroll;
      max-height: 267px;
      @include scrollbars;
      &-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--color-grey);
        border-bottom: var(--border);
        padding: 12px;
      }
      &-item p:first-child {
        font-weight: bold;
      }
    }
    &-footer {
      padding: 10px 12px;
      font-size: 1rem;
      @include flex-center-center;
    }
  }
}

.timer {
  border-radius: 3px;
  padding: 3px;
  background-color: var(--color-white);
  color: var(--color-black);
}

.start-btn {
  background-color: #0bcb9a;
  width: 95px;
  height: 35px;
  border-radius: 5px;
  box-shadow: 0 2px 0 #006837;
  border-width: 0;
  font-weight: bold;
  font-size: 1.8rem;
  color: var(--color-white);
}

.blue {
  color: #00bfe6;
  font-weight: bold;
}

.dashboard {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 18px;
}

.dashboard .main-area__block-body {
  overflow: inherit;
  height: calc(168px - 37px);
}

.antenna-wrapper {
  @include flex-center-center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  counter-reset: antenna;
}

.antenna {
  background-image: url("./../assets/antenna.svg");
  width: 36px;
  height: 45px;
  background-repeat: no-repeat;
  background-size: 36px;
  position: relative;
  font-size: 1rem;
  color: black;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.antenna.antenna-active {
  filter: var(--filter-green);
}

.antenna.antenna-off {
  filter: var(--filter-yellow);
}

.antenna.antenna-fail {
  filter: var(--filter-red);
}

.antenna.antenna-off span::before,
.antenna.antenna-fail span::before {
  content: url(" ./../assets/cross.svg ");
  height: 7px;
  width: 7px;
  margin-right: 2px;
  display: inline-block;
}

.antenna-number {
  margin-top: 10px;
  font-size: 1rem;
  text-align: center;
  &::after {
    counter-increment: antenna;
    content: counter(antenna);
    font-size: 3rem;
    display: block;
    width: 50%;
    margin: 0 auto;
  }
}

.antenna.antenna-active + .antenna-number::after {
  border-bottom: 2px solid var(--color-green);
}
