.jkeyboard {
  display: inline-block;
}
.jkeyboard, .jkeyboard .jline, .jkeyboard .jline ul {
  display: block;
  margin: 0;
  padding: 0;
}
.jkeyboard .jline {
  text-align: center;
}
.jkeyboard .jline ul li {
  font-family: arial, sans-serif;
  font-size: 2em;
  padding: 5px;
  display: inline-block;
  background-color: #868686;
  margin: 8px 0 0 8px;
  color: #fff;
  border-radius: 5px;
  width: 52px;
  height: 52px;
  box-sizing: border-box;
  text-align: center;
  line-height: 52px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.jkeyboard .jline ul li.uppercase {
  text-transform: uppercase;
}
.jkeyboard .jline ul li:hover, .jkeyboard .jline ul li:active {
  background-color: #333333;
}
.jkeyboard .jline .return {
  width: 120px;
}
.jkeyboard .jline .space {
  width: 456px;
}
.jkeyboard .jline .numeric_switch, .jkeyboard .jline .character_switch, .jkeyboard .jline .symbol_switch {
  width: 84px;
}
.jkeyboard .jline .layout_switch {
  background: url("../assets/locale.png") no-repeat center right;
}
.jkeyboard .jline .shift {
  width: 100px;
  background: url("../assets/shift.png") no-repeat center center;
  background-color: #868686;
}
.jkeyboard .jline .shift.active {
  border-color: #fff;
}
.jkeyboard .jline .shift.lock {
  transform: rotate(180deg);
}
.jkeyboard .jline .backspace {
  width: 69px;
  background: url("../assets/backspace.png") no-repeat center center;
  background-color: #868686;
}
