.temp-humid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
}

.temp-humid-cell {
  @include flex-center-center;
  flex-direction: column;
  justify-content: space-evenly;
  border-right: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
  &__value {
    font-size: 2.8rem;
    line-height: 2.8rem;
  }
  &:nth-child(even) {
    border-right: none;
  }
  &:nth-last-child(-n + 2) {
    border-bottom: none;
  }
  &__value::after {
    content: "\00B0";
  }
  &:last-child {
    .temp-humid-cell__value::after {
      content: "%";
    }
  }
  &__badge {
    display: flex;
    align-items: center;
    &::after {
      content: "TEMPERATURE";
      font-size: 0.9rem;
      background-color: var(--color-green);
      padding: 2px;
      border-radius: 3px;
      color: var(--color-black);
    }
    &::before {
      content: url("./../../assets/temperature.svg");
      width: 7px;
      height: 14px;
      display: inline-block;
      margin-right: 3px;
      filter: var(--filter-green);
    }
  }

  &:last-child {
    .temp-humid-cell__badge::after {
      content: "HUMIDITY";
    }
    .temp-humid-cell__badge::before {
      width: 11px;
      content: url("./../../assets/humidity.svg");
    }
  }

  &__badge.warning {
    &::after {
      background-color: #fbb03b;
    }
    &::before {
      filter: var(--filter-orange);
    }
  }
  &__badge.alert {
    &::after {
      background-color: var(--color-red);
    }
    &::before {
      filter: var(--filter-red);
    }
  }
  &__description {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
}
